body {
  background-color: silver;
  display: flex;
}
.container1 {
  background-color: rgb(26, 218, 218);
  width: 70vw;
  height: 80vh;
  border-radius: 0 5% 5% 0;
  position: absolute;
  left: 15%;
  top: 10%;
}
.form-box {
  background-color: white;
  width: 60%;
  height: 100%;
  float: right;
  border-radius: 5%;
}
img {
  z-index: 1;
}
