body {
  background-color: silver;
  display: flex;
}
.container1 {
  background-color: rgb(141, 240, 240);
  width: 70vw;
  height: 80vh;
  border-radius: 0 5% 5% 0;
  position: absolute;
  left: 15%;
  top: 10%;
}
.form-box {
  background-color: white;
  width: 65%;
  height: 100%;
  float: right;
  border-radius: 5%;
}
form {
  width: 70%;
  margin: 5% 12%;
  border: 1px solid;
  padding: 10px;
}
img {
  position: absolute;
  left: 5%;
  top: 20%;
  z-index: 1;
  height: 80%;
  width: 40%;
}
